.question_div{
    position: relative;
}
.question_text{
    margin:5%;
    font-weight:bold;
}
.answer{
    width:90%;
    margin:5px auto;
}

.result{
    width:100%;
    text-align: center;
}

.correct{
    color: darkgreen;
}

.incorrect{
    color: crimson;
}
.symbol{   
    font-size: 2rem;
    position:absolute;
    width:40px;
    top:0px;
    /* float:right; */
    left: 10%;
    z-index:1;
}