.answer{
    width:90%;
    margin:5px auto;
}

.result{
    width:100%;
    text-align: center;
}

.symbol{    
    font-size: 3rem;
}
.correct{
    color: darkgreen;
}

.incorrect{
    color: crimson;
}